@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;800&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  font-family: "Inter", sans-serif;
  color: #fff;
}

button {
  cursor: pointer;
}

body {
  background-color: #333;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  align-items: flex-start;
  padding-inline: 7rem;
  padding-block: 5rem;
}

.card {
  --padding: 1rem;
  background: #1a1a1a;
  border: 1px solid #777;
  border-radius: 0.25rem;
  overflow: hidden;
  max-width: 600px;
  min-height: 520px;
  max-height: 520px;
  border: solid #bc9a00 2px;
}

.card.card-shadow {
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.card-header {
  font-size: 1.5rem;
  padding: var(--padding);
  padding-bottom: 0;
  margin-bottom: 0.5rem;
  color: #fff;
}

.card-header.card-image {
  padding: 0;
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  transition: 200ms transform ease-in-out;
}

.icon {
  font-size: 1px;
}

.price {
  margin-right: 0.5rem;
}

.street-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-inline: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.025);
}

.card-body {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  gap: 1rem;
  padding: 0 var(--padding);
  color: #ccc;
  text-align: justify;
}

.card-rooms {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-footer {
  margin-top: 1rem;
  padding: var(--padding);
  padding-top: 0;
  color: #ccc;
}

.btn {
  --color: #bc9a00;
  background: var(--color);
  color: white;
  border: none;
  font-size: 1rem;
  padding: 0.5em 0.75em;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  --color: #d7b002;
}

.btn.btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background: hsl(0, 0%, 0%);
}

.btn + .btn {
  margin-left: 0.25rem;
}

.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  gap: 2rem;
}

.select-ctn {
  height: 1.2rem;
  width: 4rem;
  margin-block: 1rem;
}

select,
option {
  color: black;
}

.filter-elements {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter-header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.filter-span {
  font-size: 1.2rem;
  color: gold;
  padding-block: 1.2rem;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  background-color: #1a1a1a;
}

.hero-left {
  font-size: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-block: 1rem;
  padding-inline: 10rem;
  text-align: justify;
}

.hero-img {
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  height: 400px;
}

.animation {
  margin-top: -4px;
  height: 1rem;
  background: linear-gradient(90deg, #2cd9ff, #7effb2);
  background-size: 400% 400%;
  animation: anim 2.5s infinite ease-in-out;
}

@keyframes anim {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.examples{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self:center;
  margin-top: 2rem;
}

button{
  color: #1a1a1a;
}

.link-container{
  display: flex;
  justify-content: center;
}

.card-grid-home{
  margin-top: 4rem;
  display: grid;
  padding-inline: 10rem;
  padding-bottom: 10rem;
  grid-template-columns:repeat(3,1fr);
  gap: 2rem;
}